[submodule "hw/hw01"]
	path = hw/hw01
	url = https://github.com/BEE4850/hw01
	branch = Spring26

[submodule "hw/hw02"]
	path = hw/hw02
	url = https://github.com/bee-envdata-cornell/hw02.git
	branch = Spring26
