[submodule "hw/hw01"]
	path = hw/hw01
	url = https://github.com/BEE4850/hw01
	branch = Spring26

[submodule "hw/hw02"]
	path = hw/hw02
	url = https://github.com/bee-envdata-cornell/hw02.git
	branch = Spring26
[submodule "hw/hw03"]
	path = hw/hw03
	url = https://github.com/bee-envdata-cornell/hw03.git
	branch = Spring26
[submodule "hw/hw04"]
	path = hw/hw04
	url = https://github.com/bee-envdata-cornell/hw04.git
	branch = Spring26
[submodule "hw/hw05"]
	path = hw/hw05
	url = https://github.com/bee-envdata-cornell/hw05.git
	branch = Spring26
